/* Styles généraux */
body {
    margin: 0;
    background-color: #e6e6e6;
    height: 100vh; /* S'assure que le corps prend toute la hauteur de la fenêtre */
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container {
    text-align: center;
    color: #00205b;
    background-color: #ffffff;
    padding: 50px;
    border: 2px solid #82BE00;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 80%;
  }
  
  h1 {
    font-size: 6rem;
    margin: 0;
    color: #00205b;
  }
  
  p {
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 20px 0;
  }
  
  a {
    display: inline-block;
    font-size: 1.5rem;
    color: #ffffff;
    background-color: #00205b;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  a:hover {
    background-color: #82BE00;
  }
  
  /* Responsive Design */
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 4rem;
    }
  
    p {
      font-size: 1.2rem;
    }
  
    a {
      font-size: 1.2rem;
      padding: 8px 15px;
    }
  }
  