body{
  margin: 0 auto;
  background-color: #e6e6e6;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease;
}

.presentation {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00205b;
  font-size: 2rem;
  padding: 0 5vw;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  text-align: center;
  margin-left: 200px;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

/* Animation de fade-in */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h3 {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 2rem;
  background-color: #00205b;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 280px;
  width: 100%;
  border: solid;
  background-color: #00205b;
  border-color: #00205b;
  padding: 20px;
  transition: background-color 0.3s ease;
}

.header h1 {
  margin: 0;
  font-size: 4em;
  text-align: center;
  color: #e6e6e6;
  transition: transform 0.3s ease;
  margin-right: 200px;
}

.header:hover h1 {
  transform: scale(1.05); /* Effet d'agrandissement sur le titre */
}

/* Logo */
.logo_sncf {
  height: 470px;
  width: 450px;
  transition: transform 0.3s ease;
}

.logo_sncf:hover {
  transform: rotate(10deg); /* Effet de rotation au survol */
}

/* Menu de navigation */
.nav {
  list-style-type: none;
  padding: 1%;
  margin-top: 200px;
  transition: transform 0.3s ease;
}

.nav li {
  display: inline;
  margin: 0 50px;
}

.nav a {
  text-decoration: none;
  color: #e6e6e6;
  font-weight: bold;
  font-size: 2rem;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav a:hover {
  color: #82BE00;
  transform: translateY(-5px); /* Effet de soulèvement au survol */
}

/*PREMIER BLOC*/

.titre_principal {
  margin: 0;
  font-size: 24px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Bandeau Accueil */
.Bienvenue {
  text-align: center;
  margin-top: 80px;
}


.titre2{
  font-size: 6rem;
  display: flex;
  justify-content: center;
  margin-left: 400px;
  margin-bottom: 500px;
}

/* Formulaire */
form {
  background-color: #fff;
  padding: 60px;
  border-radius: 30px;
  max-width: 1200px;
  margin: 150px auto;
  margin-top: -200px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);  /* Ombre plus marquée */
    animation: fadeIn 1s ease-out;  /* Animation de fondu */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.form-title {
  font-size: 4rem;
  color: #6fae00;
  text-align: center;
  margin-bottom: 90px;
  margin-top: 50px ;
  font-weight: bold;
}


.inputs input {
  width: 100%;
  padding: 20px;
  font-size: 2rem;
  border-radius: 10px;
  border: 2px solid #ccc;
  margin-bottom: 30px;
}

.inputs span {
  position: absolute;
  right: 15px;
  top: 45px; /* Ajuster en fonction de la hauteur du champ de mot de passe */
  cursor: pointer;
  font-size: 1.2em;
  color: #999;
}

.inputs span:hover {
  color: #333;
}

/* Indicateur de force du mot de passe */
#password + div {
  font-size: 1.5rem;
  margin-top: 5px;
  padding: 5px;
}

#password + div.strong {
  color: green;
}

#password + div.medium {
  color: orange;
}

#password + div.weak {
  color: red;
}

#password {
  width: 100%;
  padding: 20px;
  font-size: 2rem;
  border-radius: 10px;
  border: 2px solid #ccc;
  margin-bottom: 30px;
  padding-right: 40px; 
}

#togglePassword {
  position: absolute;
  right: 10px; 
  top: 50%; 
  transform: translateY(-50%); 
  cursor: pointer; 
}

form label {
  font-size: 2rem;
  color: #00205b;
  margin-bottom: 17px;
  display: block;
  font-weight: bold;
}

.forgot-password {
  color: #6fae00;
  text-decoration: none;
  font-size: 2rem;
  display: block;
  margin-bottom: 30px;
  text-align: center;
}

.submit-btn {
  background-color: #6fae00;
  color: white;
  padding: 18px;
  border: none;
  border-radius: 10px;
  width: 100%;
  font-size: 2rem;
  cursor: pointer;
  margin-bottom: 20px;
}

.submit-btn:hover {
  background-color: #00205b;
}

.one-click-login {
  background-color: transparent;
  color:#00205b;
  padding: 20px;
  border: 2px solid #ccc #00205b;
  border-radius: 10px;
  width: 100%;
  font-size: 1.9rem;
  cursor: pointer;
  margin-bottom: 40px;
}

.one-click-login:hover {
  background-color: rgba(255, 59, 48, 0.1);
}

.create-account {
  text-align: center;
  font-size: 1.7rem;
}

.create-account a {
  color:#6fae00;
  text-decoration: none;
  font-weight: bold;
}

.create-account a:hover {
  text-decoration: underline;
}

form button:hover {
  background-color: #6fae00;
  transform: scale(1.02);
}

form button:focus {
  outline: none;
}

input, button {
  transition: all 0.3s ease;
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 280px;
  background-color: #00205b;
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.footer h3 {
  font-size: 2rem;
  color: white;
  margin: 0;
  padding: 10px 0;
}

.logo_sncf2 {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 380px;
  height: auto;
}

.footer-link {
  color: #e6e6e6;
  text-decoration: none;
}
.footer-link:hover {
  color: #82BE00;
  text-decoration: none }

