/* BODY */
body {
  margin: 0 auto;
  background-color: #e6e6e6;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 280px;
  width: 100%;
  border: solid;
  background-color: #00205b;
  border-color: #00205b;
  padding: 20px;
  transition: background-color 0.3s ease;
}

.header h1 {
  margin: 0;
  font-size: 6em;
  text-align: center;
  color: #e6e6e6;
  transition: transform 0.3s ease;
}

.header:hover h1 {
  transform: scale(1.05); /* Effet d'agrandissement sur le titre */
}

   /* Logo */
.logo_sncf {
  height: 470px;
  width: 450px;
  transition: transform 0.3s ease;
}

.logo_sncf:hover {
  transform: rotate(10deg); /* Effet de rotation au survol */
}

/* Menu de navigation */
.nav {
  list-style-type: none;
  padding: 1%;
  margin-top: 200px;
  transition: transform 0.3s ease;
}

.nav li {
  display: inline;
  margin: 0 50px;
}

.nav a {
  text-decoration: none;
  color: #e6e6e6;
  font-weight: bold;
  font-size: 2rem;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav a:hover {
  color: #82BE00;
  transform: translateY(-5px); /* Effet de soulèvement au survol */
}



/*Bandeau Accueil*/

.Bienvenue .titre2 {
  margin-bottom: 100px;
 font-size: 5rem;
}

.Bienvenue{
text-align: center;
margin-top: 50px;
}

.titre2 {
  text-align: center;
  font-size: 6rem;
  margin: 0;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;}

/*PREMIERE PARTIE */


form {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  font-family: 'Avantgarde', TeX Gyre Adventor, URW Gothic L, sans-serif;
  transition: all 0.3s ease-in-out;
}

/* Légers ombrages pour l'effet hover sur le formulaire */
form:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4); 
}

/* Titre du formulaire */
h1 {
  font-size: 6rem;
  color: #00205b;
  margin-bottom: 80px;
  text-align: center;
  letter-spacing: 2px; 
}

/* Séparation entre les sections du formulaire */
.separation {
  height: 2px;
  background-color: #e6e6e6;
  margin: 30px 0;
}

/* Corps du formulaire */
.corps-formulaire {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  transition: transform 0.3s ease-in-out;
}

input:focus, textarea:focus {
  border-color: #82BE00;
  outline: none;
  box-shadow: 0 0 5px rgba(130, 190, 0, 0.5);
}
.gauche, .droite {
  flex: 1;
}

.boite {
  margin-bottom: 60px;
  position: relative;
}


label {
  display: block;
  font-size: 2rem;
  margin-bottom: 40px;
  color: #00205b;
  font-weight: bold;
}

/* Agrandir l'encadré de l'input email */
#email {
  width: 100%;
  padding: 15px;
  font-size: 2rem;  /* Même taille de police que les autres champs */
  height: 60px;  /* Hauteur similaire aux autres champs */
  border: 1px solid #cccccc;  /* Bordure grise par défaut */
  border-radius: 10px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}


input:focus, textarea:focus, #email:focus {
  border-color: #82BE00;  /* Bordure verte au focus */
  outline: none;
  box-shadow: 0 0 8px rgba(130, 190, 0, 0.6);  /* Légère ombre verte */
}


/* Champs de texte */
input[type="text"], textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 2rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Légère transition pour l'effet de focus */
input[type="text"]:focus, textarea:focus {
  border-color: #82BE00;
  box-shadow: 0 0 8px rgba(130, 190, 0, 0.6);
}

/* Contour très léger des champs */
input[type="text"], textarea {
  border: 1px solid #ddd;
  transition: border 0.3s ease;
}

textarea {
  height: 200px;
  resize: vertical; 
}

input[type="text"]::placeholder, 
textarea::placeholder, 
#email::placeholder {
  color: #999999;  /* Même couleur de placeholder que les autres champs */
  font-size: 1.6rem; /* Taille de police cohérente */
}

/* Animation au survol des boutons */
.pied-formulaire button {
  margin-top: 10px;
  background-color: #82BE00;
  color: white;
  font-size: 2rem;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease;
}

.pied-formulaire button:hover {
  transform: scale(1.05);  /* Effet d'agrandissement */
  background-color: #6ea900; /* Couleur légèrement plus foncée */
}

.pied-formulaire {
  text-align: center;
  margin-top: 50px;
}

.corps-formulaire .boite{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.corps-formulaire .gauche .boite input{
margin-top: 2px;
padding: 10px 5px 10px 30px;
border: 1px solid #82BE00;
outline-color: #00205b;
border-radius: 10px;
}


.corps-formulaire .droite{
  margin-left: 100px;
}

.corps-formulaire .droite .boite{
  height: 100%;
}

.corps-formulaire .droite .boite textarea{
 margin-top: 5px;
 padding: 10px;
 background-color: #f8f8f8;
 border: 2px solid #00205b;
 outline: none;
 border-radius: 10px;
 resize: none;
 height: 60%;
}


.pied-formulaire button:hover{
transform: scale(1.05);
}

@media (max-width: 768px) {
  .corps-formulaire {
      flex-direction: column;
      gap: 20px;
  }

  button {
      width: 100%;
  }
}
 
/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 280px;
  background-color: #00205b;
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.footer h3 {
  font-size: 2rem;
  color: white;
  margin: 0;
  padding: 10px 0;
}

.logo_sncf2 {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 380px;
  height: auto;
}

.footer-link {
  color: #e6e6e6;
  text-decoration: none;
}
.footer-link:hover {
  color: #82BE00;
  text-decoration: none }

  
      
          .contenu_footer h3 {
            font-size: 2rem;
            color: white;
            margin: 0;
            padding: 10px 0;
          }

          .home-icon {
            position: absolute;
            right: 20px; 
            bottom: 20px;
            color: #e6e6e6; 
            font-size: 2rem; 
            text-decoration: none;
          }
          
          .home-icon:hover {
            color: #82BE00; 
            text-decoration: underline; 
          }
          
      

   
          @media screen and (max-width: 768px) {
              .ImageText {
                  flex-direction: column; 
                  align-items: center;
              }
              
              .Image2 {
                  max-width: 100%;  
                  margin-right: 0;
                  margin-bottom: 20px;
              }
              
              .Decription {
                  max-width: 100%; 
              }
          }