body {
    margin: 0 auto;
    background-color: #e6e6e6;
    height: 100%;
    overflow: hidden;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.3s ease;
  }
  
  /* HEADER */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 280px;
    width: 100%;
    border: solid;
    background-color: #00205b;
    border-color: #00205b;
    padding: 20px;
  }
  
  .header h1 {
    margin: 0;
    font-size: 4em;
    text-align: center;
    color: #e6e6e6;
  }
  
  .logo_sncf {
    height: 470px;
    width: 450px;
  }
  
  .nav {
    list-style-type: none;
    padding: 1%;
    margin-top: 200px;
  }
  
  .nav li {
    display: inline;
    margin: 0 50px;
  }
  
  .nav a {
    text-decoration: none;
    color: #e6e6e6;
    font-weight: bold;
    font-size: 2rem;
  }
  
  /* BANNER */
  .Bienvenue {
    text-align: center;
    margin-top: 80px;
  }
  
  .titre2 {
    font-size: 6rem;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  /* Table */
  .table-container {
    background-color: #fff;
    padding: 30px;
    max-width: 1200px;
    margin: 50px auto;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  }
  
  .table-title {
    text-align: center;
    font-size: 3rem;
    color: #00205b;
    margin-bottom: 40px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #00205b;
    color: #fff;
  }
  
  td {
    background-color: #f4f4f4;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #6fae00;
    color: white;
    font-size: 1.6rem;
    cursor: pointer;
    margin-right: 10px;
  }
  
  button:hover {
    background-color: #00205b;
  }
  
  .add-btn {
    background-color: #82be00;
    color: white;
    padding: 15px 30px;
    font-size: 1.8rem;
    border-radius: 10px;
    display: block;
    width: 100%;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .add-btn:hover {
    background-color: #00205b;
  }
  
  /* FOOTER */
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 280px;
    background-color: #00205b;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin: 0;
    padding: 0;
  }
  
  .footer h3 {
    font-size: 2rem;
    margin: 0;
    padding: 10px 0;
  }
  
  .footer-link {
    color: #e6e6e6;
    text-decoration: none;
  }
  
  .footer-link:hover {
    color: #82BE00;
  }
  